/* TalkToPage.css */

/*body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Garamond, Helvetica Neue, Arial, sans-serif;
}*/

.ttp-container {
    width: 92%;
    height: 100%;
    display: flex;
}

.content {
    flex-grow: 1; /* Allow the content to grow and fill available space */
    overflow-y: auto; /* Ensure content scrolls if it overflows */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-iframe {
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}